#log { height: 350px; overflow-y: auto; }

.board {
  display: grid;
  grid-template-columns: repeat(8, 70px);
  grid-template-rows: repeat(8, 70px);
}

.square {
  position: relative;
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.square.light { background-color: #f0d9b5; }
.square.dark { background-color: #b58863; }
.square.selected {
  
  border : 3px solid rgb(208, 100, 241);
}

.square.highlight::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 35%;
  height: 35%;
  background-color: rgba(0, 255, 0, 0.5);
  border-radius: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
}

.piece {
  width: 60px;
  height: 60px;
  cursor: pointer;
}

