.board {
  display: grid;
  grid-template-columns: repeat(8, 60px);
  grid-template-rows: repeat(8, 60px);
}
.square {
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 38px;
}

#log { height: 350px; overflow-y: auto; }


.square.white { background-color: #d7c183; }
.square.black { background-color: #a56e10; color: white; }
.square.selected { border: 3px solid rgb(208, 100, 241); }
.square.highlight { background-color: rgba(0, 255, 0, 0.4); }


